.navbar{
    display: flex;
    gap:.4rem;
    justify-content: center;
    
    align-items: center;
    /* background-color: blue; */
    color:blue;
    height: 80px;
    
}
.sub{
    display: flex;
    justify-content: center;
    align-self: center;
    gap:2rem;
    margin-right: 50px;
    font-size: 20px;
    cursor:pointer;
    
}

.hello-world-container{
    margin-right: 10px;
}
.hello-world{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 20px;
    border: 1px solid black;
    background: linear-gradient(to right, #85D8CE, #9963E9);
    height: 40px;
    border:none;
    cursor: pointer;
    color:white
}






